//---------------------------------//
//     Секция: Настройки ввода     //
//---------------------------------//
input {
  //-------- Общие настройки ------//
  warp-mouse-to-focus mode="center-xy-always" // Перемещать курсор в центр активного окна при переходе
  //---------- Клавиатура ---------//
  keyboard {
    xkb {
      layout "us,ru"                               // Список используемых раскладок клавиатуры
      options "grp:win_space_toggle,ctrl:nocaps"   // Смена языка Mod + пробел, отключение CapsLock
    }
  }
  //------------ Тачпад -----------//
  touchpad {
    tap                                       // Одно касание считаеть кликом
    dwt                                       // Отключение тачпада, когда печатаешь
    drag false                                // Перенос окна через нажатие а не тап
    drag-lock                                 // При отрывании пальца не сразу отменяется перенос окна
    tap-button-map "left-right-middle"        // 2 пальца = правая кнопка, 3 пальца = средняя
    click-method "clickfinger"                // Какая кнопка мыши определяется количеством пальцев, не местом на тачпаде
    disabled-on-external-mouse                // Если подключена мышь, тачпад отключается
    natural-scroll                            // Инвертируем прокрутку
    accel-speed 0.0                           // Отключаем ускорение для тачпада
    accel-profile "adaptive"                  // Курсор ускоряется, если быстро двигаешь палец
    scroll-method "two-finger"                // Прокрутка двумя пальцами
  }
  //------------- Мышка -----------//
  mouse {
    accel-speed 0.0                           // Отключаем ускорение для мыши
    accel-profile "flat"                      // Курсор не ускоряется, если быстро двигаешь мышь.
  }
}

//---------------------------------//
//    Секция: Настройки монитора   //
//---------------------------------//
output "eDP-1" {                              // Инфо о мониторе командой `niri msg outputs`
  mode "2520x1680@120.000"                    // Разрешение и частота обновления
  scale 2                                     // Масштаб интерфейса 200% (для HiDPI-дисплеев)
  transform "normal"                          // Обычная ориентация экрана
}

//---------------------------------//
//         Секция: Вид окон        //
//---------------------------------//
layout {
  //------- Обшие настройки -------//
  gaps 15                                      // Отступы вокруг окон, в логических пикселях
  center-focused-column "never"                // Никогда не центрировать окна при переключении
  always-center-single-column                  // Центрировать окно по горизонтали если оно одно на столе
  default-column-width { proportion 0.5; }     // Стандартная ширину новых окон, когда они открываются
  //---- Внешние отступы окон ----//
  struts {
    left -14                                    // Отступы слева
    right -14                                   // Отступы справа
    top -14                                     // Отступы сверху
    bottom -14                                  // Отступы снизу
  }
  //----- Пресеты ширины окон -----//
  preset-column-widths {                       // Когда меняешь размер MOD + R
    proportion 0.5                             // Половина экрана
    proportion 1.0                             // Полный экран
  }
  //---- Рамки активного окна ----//
  focus-ring {
    width 1                                    // Ширина рамки
    active-color "#7fc8ff"                     // Цвет рамки для активного окна
    inactive-color "#505050"                   // Цвет рамки для неактивных окон
  }
}

//---------------------------------//
//     Секция: Общие настройки     //
//---------------------------------//
prefer-no-csd                                                     // Не использовать CSD приложениями, если возможно
hotkey-overlay {
  skip-at-startup                                                 // Отключить всплывающее окно с биндами при старте
}
screenshot-path "~/Pictures/Screenshots/Screenshot %d.%m.%Y.png"  // Директория для скриншотов и формат записи

//---------------------------------//
//        Секция: Автозапуск       //
//---------------------------------//
spawn-at-startup "waybar"                        // Запускаем статус бар

//---------------------------------//
//         Секция: Жесты           //
//---------------------------------//
gestures {
  //----- Перетаскивание окна между столами ------//
  dnd-edge-view-scroll {
    trigger-width 30                             // Расстояние от края для перехода
    delay-ms 100                                 // Задержка до перехода
    max-speed 1500                               // Скорость перехода
  }
  //-- Перетаскивание окна между пространствами --//
  dnd-edge-workspace-switch {
    trigger-height 50                            // Расстояние от края для перехода
    delay-ms 100                                 // Задержка до перехода
    max-speed 1500                               // Скорость перехода
  }
  //----------------- Триггеры углы --------------//
  hot-corners {
    off                                          // Выключаем триггеры в углах
  }
}

//---------------------------------//
//         Секция: Анимации        //
//---------------------------------//
animations {
  window-open {                                                  //----------- Открытие окна ------------//
    duration-ms 150
    curve "ease-out-expo"
  }
  window-close {                                                 //----------- Закрытие окна ------------//
    duration-ms 150
    curve "ease-out-quad"
  }
  overview-open-close {                                          //----- Открытие/закрытие overview -----//
    spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
  }
  horizontal-view-movement {                                     //----- Перемещение между окнами -------//
    spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
  }
  workspace-switch {                                             //-- Перемещение между пространствами --//
    spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
  }
  window-movement {                                              //---------- Перемещение окна ----------//
    spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
  }
  window-resize {                                                //------- Изменение размера окна --------//
    spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
  }
}

//----------------------------------------//
// Секция: Правила для определенных окон  //
//----------------------------------------//
window-rule {
  geometry-corner-radius 10                                    // Радиус скругления углов
  clip-to-geometry true                                        // Включить или отключить для самого окна (не рамки)
}
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"    // Применить к Firefox с заголовком Picture-in-Picture
    open-floating true                                         // Открыть его в плавающем режиме
}

//---------------------------------//
//           Секция: Бинды         //
//---------------------------------//
// Ctrl = CapsLock
binds {
  //----- Запуск приложений ------//
  Mod+T hotkey-overlay-title="Open Terminal" { spawn "foot"; }          // Открыть терминал foot
  Mod+B hotkey-overlay-title="Open Firefox" { spawn "firefox"; }        // Открыть браузер Firefox
  //------------ Niri ------------//
  Mod+Shift+Slash { show-hotkey-overlay; }                              // Показать бинды
  Mod+Shift+E { quit; }                                                 // Закрыть niri
  //------ Работа с окнами -------//
  Mod+Q repeat=false { close-window; }                                  // Закрыть окно
  Mod+F { fullscreen-window; }                                          // Окно на весь экран
  Mod+Minus { set-column-width "-10%"; }                                // Уменьшить ширину на 10%
  Mod+Equal { set-column-width "+10%"; }                                // Увеличить ширину на 10%
  Mod+R { switch-preset-column-width; }                                 // Сменить пресет ширины окна
  Mod+Ctrl+Minus { set-window-height "-10%"; }                          // Уменьшить высоту на 10%
  Mod+Ctrl+Equal { set-window-height "+10%"; }                          // Увеличить высоту на 10%
  Mod+Ctrl+R { switch-preset-window-height; }                           // Сменить пресет высоты окна
  //----- Сменить фокус окна -----//
  Mod+H     { focus-column-left; }                                      // Перейти на окно влево
  Mod+J     { focus-window-down; }                                      // Перейти на окно вниз
  Mod+K     { focus-window-up; }                                        // Перейти на окно вверх
  Mod+L     { focus-column-right; }                                     // Перейти на окно вправо
  //------ Переместить окно ------//
  Mod+Ctrl+H     { move-column-left; }                                  // Переместить окно влево
  Mod+Ctrl+J     { move-window-down; }                                  // Переместить окно вниз
  Mod+Ctrl+K     { move-window-up; }                                    // Переместить окно вверх
  Mod+Ctrl+L     { move-column-right; }                                 // Переместить окно вправо
  //------ Работа с рабочими пространствами -------//
  Mod+O repeat=false { toggle-overview; }                               // Открыть просмотр рабочих пространств
  Mod+Ctrl+Down    { move-workspace-down; }                             // Переместить рабочее пространство вниз
  Mod+Ctrl+Up      { move-workspace-up; }                               // Переместить рабочее пространство вверх
  //-- Сменить рабочее пространство --//
  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  //-- Переместить окно в другое рабочее пространство --//
  Mod+Shift+J   { move-column-to-workspace-down; }                      // Переместить окно на рабочее пространство вниз
  Mod+Shift+K   { move-column-to-workspace-up; }                        // Переместить окно на рабочее пространство вверх
  Mod+Ctrl+1 { move-column-to-workspace 1; }
  Mod+Ctrl+2 { move-column-to-workspace 2; }
  Mod+Ctrl+3 { move-column-to-workspace 3; }
  Mod+Ctrl+4 { move-column-to-workspace 4; }
  Mod+Ctrl+5 { move-column-to-workspace 5; }
  Mod+Ctrl+6 { move-column-to-workspace 6; }
  Mod+Ctrl+7 { move-column-to-workspace 7; }
  Mod+Ctrl+8 { move-column-to-workspace 8; }
  Mod+Ctrl+9 { move-column-to-workspace 9; }
  //------- Яркость экрана -------//                                    // allow-when-locked — работает даже на заблокированном экране
  XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }     // Увеличить на 5%
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }   // Уменьшить на 5%



    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    // Using spawn-sh allows to pass multiple arguments together with the command.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Example media keys mapping using playerctl.
    // This will work with any MPRIS-enabled media player.
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }


    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }


    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }
    // Cycling through the presets in reverse order is also possible.
    // Mod+R { switch-preset-column-width-back; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+C { center-column; }


    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }


    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }
}
